<p>找不到页面</p>

<h2 style="color: blue;">404</h2><br>
<p>这些女孩全都消失了，我再也没有遇到过她们，即使遇到，也不会记得了。</p>
<p>我对大飞说，那张照片不在你手里，当年是奚志常拿走了。</p>
<p>大飞说，便宜那小子了。</p>   
<p>我说，不不，这张照片可珍贵了，给了你才他妈是浪费，你完全不理解，也不可能理解，你仅仅是被她们超乎想象的美丽而震慑，然后感叹一下时光飞逝，她们可能都老了，诸如此类。</p>
<p>是的，她们当然会老，变得像历史一样可以被人指指点点，但这并不重要，重要的是你没得到那张照片，它被奚志常拿走了而你根本不知道奚志常去了哪里。</p>

<p>我猜想这个时间之中还有另一种时间，在这个夜晚之上还有另一个夜晚。这句话可以一直翻版下去，直到耗尽我的记忆。</p><br>

<p>如果你觉得自己爱上了一个女孩，先摸摸自己的鸡巴，它要是没勃起，那就说明你可能是真的爱上她了。</p><br>

<p>你看这是多么难得的机会，如果你陪着一个女孩在寒冬的深夜里骑了二十七公里的自行车，她就是你的了，至少这辈子都不会忘记你。你他妈的看看自己这副屌样，除了你老妈之外，还有哪个女人会记住你？</p><br>

<p>任何人在任何时间突然分道扬镳很正常</p>

<p>自信不是认为你比别人好，而是意识到你根本不需要拿自己和别人比较。 --Gabriel</p>

<p>人生苦短，不要搞出那么多道德标准去要求自己和别人，各自专注自己，自己独立强大最重要。</p>


